---
layout: default
title: JIRA ❤ Docker
excerpt: Atlassian JIRA wrapped in a Docker image.
slug: documentation
---

<section class="jumbotron">
  <div class="container">
    <h1>
      {{ page.title }}
    </h1>
    <p class="lead">
      {{ page.excerpt }}
    </p>
    <p>
      <a href="https://github.com/{{site.author.github}}/{{site.repo.github}}/issues">
        <img src="https://img.shields.io/github/issues/{{site.author.github}}/{{site.repo.github}}.svg?style=social"></a>
      <a href="https://github.com/{{site.author.github}}/{{site.repo.github}}/stargazers">
        <img src="https://img.shields.io/github/stars/{{site.author.github}}/{{site.repo.github}}.svg?style=social"></a>
      <a href="https://github.com/{{site.author.github}}/{{site.repo.github}}/network">
        <img src="https://img.shields.io/github/forks/{{site.author.github}}/{{site.repo.github}}.svg?style=social"></a>
      <a href="https://hub.docker.com/r/{{site.author.dockerhub}}/{{site.repo.docker}}">
        <img src="https://img.shields.io/docker/stars/{{site.author.dockerhub}}/{{site.repo.docker}}.svg?style=social"></a>
      <a href="https://hub.docker.com/r/{{site.author.dockerhub}}/{{site.repo.docker}}">
        <img src="https://img.shields.io/docker/pulls/{{site.author.dockerhub}}/{{site.repo.docker}}.svg?style=social"></a>
    </p>
  </div>
</section>

<div class="container s2-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">

      {% include sections/introduction.html %}
      {% include sections/configuration.html %}
      {% include sections/fast_lane.html %}
      {% include sections/slow_road_intro.html %}
      {% include sections/system_properties.html %}
      {% include sections/run_configurations.html %}

    </div>
    <div class="col-md-3" role="complementary">
      {% include nav/generate.html %}
    </div>
  </div>
</div>
