<section ng-controller="ConfigurationController">
  <h1>Basic configuration</h1>

  <p>Fill in the basic configuration of your Atlassian JIRA instance, the values will be dynamicly updated throughout the page.</p>

  <div class="form-horizontal">
    <div class="form-group">
      <label for="jira-version" class="col-sm-3 control-label">JIRA version:</label>
      <div class="col-sm-9">
        <select name="jira-version" class="form-control" ng-model="jira.version" ng-change="update(jira.version)" ng-options="tag.name for tag in tags">
        </select>
        <span class="help-block">
          <i class="fa fa-circle-o-notch fa-spin" ng-show="status == 'loading'"></i>
          <i class="fa fa-exclamation-triangle" ng-show="status == 'error'"></i>
          <span class="dynamic" ng-bind="status"/>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="jira-home" class="col-sm-3 control-label">JIRA Home location:</label>
      <div class="col-sm-9"><p class="form-control-static"><span class="dynamic" ng-bind="jira.home"/></p></div>
    </div>

    <div class="form-group">
      <label for="jira-install" class="col-sm-3 control-label">JIRA Installation location:</label>
      <div class="col-sm-9"><p class="form-control-static"><span class="dynamic" ng-bind="jira.install"/></p></div>
    </div>

    <div class="form-group">
      <label for="jira-install" class="col-sm-3 control-label">Docker host:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="jira.host" ng-init="jira.host = 'localhost'" />
        <span class="help-block">Write your IP or Hostname of the Docker host machine</span>
      </div>
    </div>

    <div class="form-group">
      <label for="jira-install" class="col-sm-3 control-label">JIRA port:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" ng-model="jira.port" />
        <span class="help-block">Write the port you wish to have Atlassian JIRA be available on</span>
      </div>
    </div>
  </div>

</section>
