<section class="alert alert-warning" role="warning">
	<strong>Heads up!</strong>
	<p>
		This documentation site is still is very much a work in progress and writing documentation and and easy to digest information is hard. This is the reason why some knowledge both about Atlassian JIRA, Docker, Linux, and systems adminstration is assumed and likely required.
	</p><p>
		If you would like to contribute to the documentation or the Docker image project in any way have a look in the <a href="./about.html">about page.</a>
 </p>
</section>
