<section>
  <h1>Using a Process Manager</h1>

  <p>Paranoid sentient hotdog corporation motion Shibuya euro-pop numinous meta-drone smart. Gang ablative Tokyo market render-farm long-chain hydrocarbons man. Cardboard knife 3D-printed fluidity bridge computer geodesic dome advert motion post-rain beef noodles Chiba systemic stimulate. Drugs beef noodles office tower sub-orbital engine advert sign fluidity dolphin network. Rebar pen fluidity drone shoes Kowloon claymore mine beef noodles. Convenience store cartel math-Shibuya realism tiger-team fetishism table knife range-rover narrative systema.</p>

  <div class="form-horizontal">
    <div class="form-group">
      <label for="container-name" class="col-sm-3 control-label">Container name:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="container.name" ng-init="container.name = 'jira-container'" />
        <span class="help-block">Write the name of the JIRA container</span>
      </div>
    </div>
  </div>

  <h2>Container creation</h2>

  <p>The first thing you need to do is creating the container instance that should be managed by a process manager. This is done by performing the following command below and after this, you should configure your service with the process manager of your choice. You can use the configuration file examples below for systemd and upstart.</p>

  <pre><code code class="bash">{% raw %}docker pull cptactionhank/atlassian-jira:{{ jira.version.name }}
docker create --restart=no --name "{{ container.name }}" \
    --publish "{{ jira.port }}:8080" \
    {{ container.env|formatEnvironment }}\
    cptactionhank/atlassian-jira:{{ jira.version.name }}
{% endraw %}</code></pre>

  <h2>Systemd</h2>

  <p>Below you can find an example file of how a systemd service unit could be defined for your Atlassian JIRA instance. For more information of service files click <a href="http://www.freedesktop.org/software/systemd/man/systemd.service.html">here</a>.</p>

  <pre><code code class="ini">{% raw %}[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start --attach "{{ container.name }}"
ExecStop=/usr/bin/docker stop --time 60 "{{ container.name }}"

[Install]
WantedBy=local.target{% endraw %}</code></pre>

  <h2>Upstart</h2>

  <p>Below you can find an example file of how an Upstart system job could be defined for your Atlassian JIRA instance. For more information of system job configuration files click <a href="http://upstart.ubuntu.com/cookbook/#system-job">here</a>.</p>

  <pre><code class="sh">{% raw %}description "Atlassian JIRA container"
start on filesystem and started docker
stop on runlevel [!2345]

respawn

script
  /usr/bin/docker start --attach "{{ container.name }}"
end script{% endraw %}</code></pre>

</section>
