<div class="s2-docs-social">
  <ul class="s2-docs-social-buttons">
  	<li>
      <a href="https://github.com/{{site.author.github}}/{{site.repo.github}}/stargazers"><img src="https://img.shields.io/github/stars/{{site.author.github}}/{{site.repo.github}}.svg?style=social"></a>
    </li><li>
  		<a href="https://github.com/{{site.author.github}}/{{site.repo.github}}/network"><img src="https://img.shields.io/github/forks/{{site.author.github}}/{{site.repo.github}}.svg?style=social"></a>
    </li><li>
    	<a href="https://hub.docker.com/r/{{site.author.dockerhub}}/{{site.repo.docker}}/"><img src="https://img.shields.io/docker/stars/{{site.author.dockerhub}}/{{site.repo.docker}}.svg?style=social"></a>
    </li><li>
    	<a href="https://hub.docker.com/r/{{site.author.dockerhub}}/{{site.repo.docker}}/"><img src="https://img.shields.io/docker/pulls/{{site.author.dockerhub}}/{{site.repo.docker}}.svg?style=social"></a>
    </li>
  </ul>
</div>
