<div class="s2-docs-social">
  <ul class="s2-docs-social-buttons">
  	<li>
  		<img src="https://img.shields.io/github/stars/{{site.author.github}}/{{site.repo.github}}.svg?style=social">
    </li><li>
  		<img src="https://img.shields.io/github/forks/{{site.author.github}}/{{site.repo.github}}.svg?style=social">
    </li><li>
    	<img src="https://img.shields.io/docker/stars/{{site.author.dockerhub}}/{{site.repo.docker}}.svg?style=social">
    </li><li>
    	<img src="https://img.shields.io/docker/pulls/{{site.author.dockerhub}}/{{site.repo.docker}}.svg?style=social">
    </li>
  </ul>
</div>
