// Code (inline and block)

// Inline code within headings retain the heading's background-color
h2 code,
h3 code,
h4 code {
  background-color: inherit;
}

code .dynamic {
	text-decoration: underline;
	opacity: 0.75;
}

// Modify Bootstrap's styles for blocks of code
pre {
  padding: 0;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;

  code.hljs {
  	padding: 1em;
  	line-height: 1.8em;
  }
}
